.btn {
  background-color: rgb(255, 175, 24);
  width: 224px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 22px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: MullerBold, sans-serif;
  color: rgb(56, 36, 0);
}
