<section class="main">
  <div class="container">
    <div class="main-info wow animate__backInLeft" >
      <h1 class="double-title">Самая вкусная пицца в мире
        <span>только в Pizza Cheff</span></h1>
      <div class="main-advantages">
        <div class="advantage">
          <div class="advantage-image">
            <img src="../../../../assets/images/hop.png" alt="hop">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              Лучшее тесто
            </div>
            <div class="advantage-description">
              Мы создаем тесто только из
              отборной итальянской муки
              наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="../../../../assets/images/kitchenpack.png" alt="kitchenpack">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              Лучшие повара
            </div>
            <div class="advantage-description">
              Пиццы готовят самые
              профессиональные
              итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="../../../../assets/images/seoandweb.png" alt="seoandweb">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              Гарантия качества
            </div>
            <div class="advantage-description">
              Наша пиццерия получила
              множество наград и
              признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="../../../../assets/images/holidays.png" alt="holidays">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              Отборные рецепты
            </div>
            <div class="advantage-description">
              Мы используем рецепты
              от мировых лидеров
              в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main-action hvr-sweep-to-right">
        <a class="btn" (click)="test()">Выбрать пиццу</a>
      </div>
    </div>
    <div class="main-image wow animate__backInRight">
      <img src="../../../../assets/images/pizzabig.png" alt="Pizzabig">
    </div>
  </div>
</section>


<div class="cookie">
  <div class="cookie-title">
    <div>Мы используем файлы cookie</div>
    <span class="cookie-accept">&times;</span>
  </div>
  <div class="cookie-text">
    Для корректной работы сайта мы используем cookie-файлы
  </div>
  <div class="cookie-button">
    <button class="btn cookie-accept">Принять</button>
  </div>
</div>
<app-popup [data]="'main-component'"></app-popup>
